Plugins>Pre Reconstruction Processes, "Pre Reconstruction Processes", Pre_Reconstruction_Processes_("")
Plugins>Pre Reconstruction Processes, "-"
Plugins>Pre Reconstruction Processes, "Crop Stack", Crop_("")
Plugins>Pre Reconstruction Processes, "Apply Despeckle", Despeckle_("")
Plugins>Pre Reconstruction Processes, "Apply Remove Outliers", Remove_Outliers("")
Plugins>Pre Reconstruction Processes, "Normalisation (Beam Correction)", Normalisation_Beam_Correction("")
Plugins>Pre Reconstruction Processes, "Flat Field Correction", Flat_Field_Correction("")
Plugins>Pre Reconstruction Processes, "Sinogram Creation", Make_Sinogram("")
Plugins>Pre Reconstruction Processes, "Sinogram Correction", Sinogram_Correction("")